<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Sprint</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">

        <form id="sprintForm" #form="ngForm" method="POST" [formGroup]="sprintForm">
          <section class="form-section">
            
              <div class="input-space">
                <div class="label-div">Sprint name</div>
                <input type="text" name="name" id="name" formControlName="name" autocomplete="off">
              </div>
              <div class="input-space">
                <div class="label-div">Start date</div>
                <input type="datetime-local" name="startDate" id="startDate" formControlName="startDate">
              </div>
              <div class="input-space">
                <div class="label-div">End date</div>
                <input type="datetime-local" name="endDate" id="endDate" formControlName="endDate">
              </div>
              <div class="input-space">
                <div class="label-div">Story points to spend</div>
                <input type="number" name="storyPointsToSpend" id="storyPoints" formControlName="storyPointsToSpend" min="0" max="50">
              </div>

          </section>
        </form>
     
    </div>
    <div class="modal-footer">
      <button type="button" id="close-button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="submit" [disabled]="!form.valid" (click)="updateSprint(form.value)" form="taskForm" class="btn btn-primary">Save changes</button>
    </div>
  </div>  