<section class="wrapper">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Project</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form method="post">
            <div for="name">Name</div>
            <input class="input-space" type="text" name="name" id="name" autocomplete="off">
            <br>
            <div for="description">Description</div>
            <input class="input-space" type="text" name="description" id="description" autocomplete="off">
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
    </div>
</section>