.navbar {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.navbar-brand {
    font-size: 1.7rem;
    color: #000059;
}

.navbar-tabs a{
  text-decoration: none;
  color: #000059;
}

.navbar li:not(:last-child) {
    margin-right: 1.6rem;
}

.navbar-tabs .nav-item {
    list-style: none;
}

.nav-item {
    margin: 0px;
}

.dropdown-menu .dropdown-item {
    margin-left: 20px;
    width: 300px;
    /* border: 1px solid black; */
    border-radius: 5px;
}