<div class="wrapper" *ngIf="user != null; else elseBlock">
    <app-navbar [allUsers]="allUsers"></app-navbar>
    <div class="d-flex">
        <app-vertical-navbar></app-vertical-navbar>
        <div class="borderr" style="border-left: 0px black solid;">

            <router-outlet></router-outlet>

        </div>
    </div>
    <app-footer></app-footer>
</div>

<ng-template #elseBlock>
    <section class="login-wrapper d-flex">
        <form #form="ngForm" [formGroup]="userForm" class="login-space">
            <div>
                <label for="username">Username</label>
                <br>
                <input type="text" name="username" id="username" formControlName="username">
            </div>
            <div>
                <label for="password">Password</label>
                <br>
                <input type="text" name="password" id="password" formControlName="password">
            </div>
            <button type="submit" (click)="login(form.value)">Log in</button>
        </form>
    </section>
</ng-template>