<h2>Backlog</h2>

<section class="wrapper">
    <div class="sprint-space" *ngFor="let sprint of sprints">
        <section class="upper-section d-flex">
            <div>
                <span>{{sprint.name}} -></span>
                <span>{{sprint.startDate}}-{{sprint.endDate}}</span>
            </div>
            <div>
                <span>Story points: {{sprint.storyPointsToSpend}}</span>
                <button class="button">Ukończ sprint</button>
                    <button class="button" type="button" id="dropdownMenu1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="../../assets/icons/list.svg">
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <li><button class="dropdown-item" type="button">Edytuj sprint</button></li>
                      <li><button class="dropdown-item" type="button">Usuń sprint</button></li>
                    </ul>
            </div>
        </section>
        <section class="lower-section d-flex">
              <span><b>Utwórz zadanie</b></span>
        </section>
    </div>
    <div class="form-space">
        <button class="btn btn-primary">Utwórz sprint</button>
    </div>
</section>