.nav .nav-item a {
    margin: 5px 10px;
    color: #000059;
    border-radius: 5px;
}

.nav .nav-item a span {
    padding-right: 5px;
}

.nav .nav-item a:hover {
    background-color: whitesmoke;
    /* color: black; */
}

.nav .nav-item a:focus {
    color: #0275d8;
    background-color: whitesmoke;
}