<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Save Task</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="this.error = null" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <form id="taskForm" #form="ngForm" method="POST" [formGroup]="taskForm">
      <section class="form-section d-flex">

        <section class="left-section">
          <div>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" formControlName="name">
          </div>
          <div>
            <label for="description">Description</label>
            <br>
            <textarea type="text" name="description" id="description" rows="7" cols="23" formControlName="description" style="resize: none;">
            </textarea>
          </div>

        </section>
        <section class="right-section">

          <div class="up">

            <label for="storyPoints">Story points</label>
            <br>
            <input type="number" name="storyPoints" id="storyPoints" formControlName="storyPoints" min="0" max="10">

          </div>

          <div class="middle">

            <div for="progress">Progress</div>
            <select style="color: #000059;" formControlName="progress" id="progress">
              <option [ngValue]="'TO_DO'">To do</option>
              <option [ngValue]="'IN_PROGRESS'">In progress</option>
              <option [ngValue]="'DONE'">Done</option>
            </select>

          </div>

          <div class="down">

            <label for="priority">Priority</label>
            <select style="color: #000059;" formControlName="priority" id="priority">
              <option [ngValue]="'0'">Not at all</option>
              <option [ngValue]="'1'">Kinda important</option>
              <option [ngValue]="'2'">Important</option>
              <option [ngValue]="'3'">Very important</option>
              <option [ngValue]="'4'">ASAP</option>
            </select>

          </div>

        </section>
        
      </section>
    </form>
    <!-- {{taskForm.value | json}} -->
    <!-- <hr> -->
    <!-- {{taskForm.valid}} -->
  </div>
  <div class="modal-footer">
    <button type="button" id="close-button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="this.error = null">Close</button>
    <button type="submit" [disabled]="!form.valid" (click)="saveTask(form.value)" form="taskForm" class="btn btn-primary">Save
      changes</button>
    </div>
  </div>
  
  <div class="error-alert" *ngIf="error">
         {{error}}
  </div>